.header {
    background-color: gold;
    }
    
    body{
       font-family: 'Times New Roman', Times, serif;
       font-size: 18px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }
    * {
        box-sizing: border-box;
      }
      .container {
        max-width: 1440px;
        margin: 0 auto;
      }
      .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
      }
      .nav-link {
      position: relative;
      padding: 0 14px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
     line-height: 50px;
     color: blue;
    }
      .section-item a {
        color: #978299;
        text-decoration: none;  
        transition: color 0.5s;
      }
      .section-item a:hover {
        color: #49115d;
      }
      ul {
          display: block;
          list-style-type: disc;
      }
      li {
          display: list-item;
      }
      img {
        padding: 10px 15px 80px 25px;
      }
      .section-profile-logo {
    width: 200px;
    height: 200px;
      }